<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Estat&iacute;sticas Relevantes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="//site.provida.org.br/js/pv_apps/2.0/pv_apps_client.js" type="text/javascript"></script>
  </head>
  <body ng-app="spreadsheetApp">

    <div class="container pv_div_resize" ng-controller="SpreadsheetsController">

      <!-- Title and status alerts -->
      <div class="row">
        <h1>Angular Gdocs Spreadsheet Reader</h1>

        <!-- Alerts -->
        <div class="row alert alert-success" role="alert" ng-show="dataLoaded && !error">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <p class="text-center">Dados carregados!</p>
        </div>
        <div class="row alert alert-danger" role="alert" ng-show="error">
          <p class="text-center">Erro ao carregar os dados!</p>
        </div>
        <div class="row alert alert-info" role="alert" ng-hide="dataLoaded">
          <p class="text-center">Carregando dados...</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 20px;">

        <!-- Modal toggle button -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#selectionModal">
          Selecionar outra planilha
        </button>

        <!-- Visualization selectors -->
        <button type="button" ng-click="toggleSpsVisualization()" class="btn btn-success">
          Mudar planilhas para {{ viewSpsTabs ? "Accordion" : "Abas" }}
        </button>
        <button type="button" ng-click="toggleRowVisualization()" class="btn btn-warning">
          Mudar linhas para {{ viewRowTable ? "Accordion" : "Tabelas" }}
        </button>

      </div>

      <!-- Url Selection Modal -->
      <div class="modal fade"
           id="selectionModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="selectionModalLabel"
           aria-hidden="true">
        <div jb-url-selection-modal></div>
      </div>

      <!-- Spreadsheets -->
      <div class="row">
        <did jb-spreadsheet-view kind="kind" subkind="subkind" spreadsheets="models" names="modelNames"></div>
      </div>

      <!-- <h5>Para obter mais informa&ccedil;&otilde;es sobre os ve&iacute;culos, envie um email para <em>email (at) example.com</em> com os respectivos c&oacute;digos que entraremos em contato.</h5> -->

    </div> <!-- Container -->

    <script src="js/tabletop.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>