<table class="table table-striped table-hover table-condensed table-bordered">
  <thead class="text-uppercase">
    <tr>
      <th ng-repeat="columnName in spreadsheet.column_names">{{ columnName }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in spreadsheet.elements">
      <td ng-repeat="columnName in spreadsheet.column_names">
        <div jb-data-entry data="row[columnName]" column-name="columnName"></div>
      </td>
    </tr>
  </tbody>
</table>