<div class="panel-group" id="row-accordion-{{ spsName }}">

  <div class="panel panel-default" ng-repeat="row in spreadsheet.elements">

    <a data-parent="#row-accordion-{{ spsName }}"
       data-toggle="collapse"
       href="#sps-{{ spsName | validHtmlId }}-{{ $index }}">
      <div class="panel-heading">
        <h4 class="panel-title">
            {{ row[spreadsheet.column_names[0]] }}
        </h4>
      </div>
    </a>

    <div id="sps-{{ spsName | validHtmlId }}-{{ $index }}" class="panel-collapse collapse">
      <div class="panel-body">

        <table class="table table-striped table-hover table-condensed table-bordered">
          <tr>
            <td ng-repeat="columnName in spreadsheet.column_names" ng-if="$index > 0">
              <div jb-data-entry data="row[columnName]" column-name="columnName"></div>
            </td>
          </tr>
        </table>

      </div>
    </div>

  </div>

</div>