<div>
  <!-- Spreadsheet tabs -->
  <ul class="nav nav-tabs" role="tablist" id="tab">
    <li ng-repeat="name in names" ng-class="{active: $index === 0}">
        <a href="#{{ name | validHtmlId }}"
           role="tab"
           data-toggle="tab">{{ name }}</a>
    </li>
  </ul>

  <!-- Spreadsheet tab content -->
  <div class="tab-content">
    <div ng-repeat="name in names"
         class="row table-responsive tab-pane"
         ng-class="{active: $index === 0}"
         id="{{ name | validHtmlId }}">

      <div jb-data-rows spreadsheet="spreadsheets[name]" sps-name="{{ name }}" kind="subkind"></div>

    </div>
  </div> <!-- Tab content -->
</div>