<div class="panel-group" id="sps-accordion">

  <div class="panel panel-default" ng-repeat="name in names">

    <a data-toggle="collapse" data-parent="#sps-accordion" href="#sps-{{ name | validHtmlId }}">
      <div class="panel-heading">
        <h4 class="panel-title">
            {{ name }}
        </h4>
      </div>
    </a>

    <div id="sps-{{ name | validHtmlId }}" class="panel-collapse collapse">
      <div class="panel-body">
         <div jb-data-rows spreadsheet="spreadsheets[name]" sps-name="{{ name }}" kind="subkind"></div>
      </div>
    </div>

  </div>

</div>