<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
      <h4 class="modal-title" id="selectionModalLabel">Selecionar outra planilha</h4>
    </div>
    <div class="modal-body">

      <div class="container-fluid">
        <p>Para carregar uma planilha, obtenha o link p&uacute;blico atrav&eacute;s da seguinte op&ccedil;&atilde;o:<br><em>Arquivo &gt; Publicar na web...</em>
        </p>
        <div class="row">

          <div class="radio">
            <label>
              <input type="radio" ng-model="url" ng-value="URL_TELS">Telefones &uacute;teis
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="url" ng-value="URL_COPA">Copa do Mundo
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="url" ng-value="URL_CARROS">Carros
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="url" ng-value="url_form">Outra:
            </label>
          </div>
          <input class="form-control" ng-model="url_form" />

        </div> <!-- container-fluid -->
      </div> <!-- modal-body -->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loadValues()">Carregar planilha</button>
    </div>
  </div>
</div>